pip install transformers
pip install anvil-uplink
pip install datasets
pip install torch
pip install scikit-learn
pip install googletrans==3.1.0a0
# wget http://cs.stanford.edu/people/alecmgo/trainingandtestdata.zip
# unzip trainingandtestdata.zip